body {
    font-family: sans-serif;
}

.background{
    background-color: rgb(36, 114, 145);
    word-spacing: -4px;
}
/* div #brand, #navbarNav {
    background-color: rgb(36, 114, 145);
    color: white;
} */
.jumbotron-fluid {
    background-color: lightgrey;

}
.container {
    margin-left: 0;
}
.container h1 {
    color: gray;

}
.big {
    margin: 2%;
}
.big-grey {
    background-color:   darkgrey;
    padding: 10px;
}

.big-grey h2 {
    color:  grey;
    word-spacing: 1px;
}
.title-box {
    margin-top: 20px;
}
.article-title {
    color: rgb(36, 114, 145);
    word-spacing: 1px;
}
.article {
    margin-bottom:  -15px;
}

.comments {
    background-color:   orange;
    padding: 5px;
    color: white;
}
h4 {
    display: inline;
    padding: 5px 25px 5px 10px;

}

.col-sm {
    text-align: center;
    margin-left: 5%;
    margin-top: 5%;
    width: 300px;
    height: 250px;
    background-color: darkgrey;
}
.lang-name {
    margin-top: 40%;
    font-size: 30px;
    font-weight: 200;
}
.lang-name > p {
    font-weight: 100;
}
.count {
    color: rgb(82, 82, 82);
    margin-top: 80px;
}
.lang-container {
    display: flex;
    justify-content: center;
}
#vbnet {
    text-decoration-line: underline;
}
/* .active {
    color: white;
    font-weight: 600;
} */